# Global
PORT=4000

CLIENT_IP_OR_URL=http://localhost:3000
SERVER_IP_OR_URL=http://localhost:4000

# Auth Database
AUTH_DATABASE_HOST=127.0.0.1
AUTH_DATABASE_PORT=3306
AUTH_DATABASE_NAME=auth
AUTH_DATABASE_USERNAME=root
AUTH_DATABASE_PASSWORD=root

# Web Database
WEB_DATABASE_HOST=127.0.0.1
WEB_DATABASE_PORT=3306
WEB_DATABASE_NAME=web
WEB_DATABASE_USERNAME=root
WEB_DATABASE_PASSWORD=root

# Json Web Token
JWT_ACCESS_KEY=secret
JWT_REFRESH_KEY=secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_ACCESS_COOKIE_MAX_AGE=90000
JWT_REFRESH_COOKIE_MAX_AGE=604800

# SOAP (AzerothCore: urn:AC - TrinityCore: urn:TC)
SOAP_HOST_NAME=http://localhost
SOAP_PORT=7878
SOAP_USERNAME=WoW-CMS
SOAP_PASSWORD=WoW-CMS
SOAP_URI=urn:AC

# Mail
MAIL_SERVICE="gmail"
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@Hafez-Hub.Com

# CLIENT URL
RESET_PASSWORD_URL=reset-password
